.env
firebase-service-account.json

__pycache__/
*.pyc

.idea/
.vscode/

uploads/
*.pdf

*.sqlite
*.sqlite3
*.db
app.sqlite3
history.db
history.sqlite
history.sqlite3
pro.sqlite3

ai_cache.json
dev_pro.json